@{ ViewBag.Title = "Accueil";
 Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Accueil</h2>
<div>
    <p>
        Bienvenue sur le logiciel de gestion des invitations GSB <span style="color:red">@ViewData["Nom"]</span>
    </p>
</div>
